# Probability Ratio Encoding

In [1]:
import pandas as pd

data = pd.read_csv('titanic.csv',usecols=['Cabin','Survived'])
data.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [2]:
data['Cabin'].fillna('Missing',inplace=True)
data.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [3]:
data['Cabin'] = data['Cabin'].astype(str).str[0]
data.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [4]:
data['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [6]:
prob_data = data.groupby(['Cabin'])['Survived'].mean()
prob_data

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [7]:
prob_data=pd.DataFrame(prob_data)
prob_data

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [8]:
prob_data['Died'] = 1-prob_data['Survived']
prob_data.head()

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [9]:
prob_data['prob_ratio'] = prob_data['Survived'] / prob_data['Died']
prob_data.head()

       Survived      Died  prob_ratio
Cabin
A      0.466667  0.533333    0.875000
B      0.744681  0.255319    2.916667
C      0.593220  0.406780    1.458333
D      0.757576  0.242424    3.125000
E      0.750000  0.250000    3.000000

In [11]:
prob_ratio = prob_data['prob_ratio'].to_dict()

In [12]:
data['Cabin_Encoded'] = data['Cabin'].map(prob_ratio)
data.head()

   Survived Cabin  Cabin_Encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274